<md-dialog>
    <div>
        <div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Salesman form</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
        </div>
        <div>
            <form>
                <md-input-container>
                    <label>Email</label>
                    <input type="text">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password">
                </md-input-container>
                <md-button class="md-primary md-raised" ng-click="">Add</md-button>
            </form>
        </div>
    </div>
</md-dialog>