<div>
    <div>
        <md-toolbar class="md-toolbar-tools md-tall" layout-padding="">

            <div  layout="row" flex>
                <div layout="row" layout-align="start start">
                    <md-button class="md-icon-button" ng-click="headerAfterCtrl.showMenu()" hide-lg>
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                </div>
                <div flex="">
                    <h1 style="font-size: 30px">SalesmanApp</h1>
                </div>
                <div layout="row" layout-align="end end" >
                    <md-button class="md-icon-button md-primary" ng-click="headerAfterCtrl.logOut()">
                        <ng-md-icon icon="logout"></ng-md-icon>
                        </md-button>
                </div>
            </div>
        </md-toolbar>
    </div>
</div>